server:
  port: 8083

spring:
  application:
    name: billing
  datasource:
    url: jdbc:postgresql://localhost:5432/snapppay
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE
  structured:
    format:
      console: ecs
